<!-- Footer -->
<footer class="footer">
    <ul class="footer-ul">
        <h3 class="footer-ul__title">
            Some Extra Info
        </h3>
        <div class="footer-ul__col">
            <div class="">
                <li>
                    <a href="https://ncadv.org/learn-more">
                    What is Domestic Violence
                </a>
                </li>
                <li>
                    <a href="https://www.cdc.gov/violenceprevention/intimatepartnerviolence/fastfact.html">
                    What is Intimate partner violence
                </a>
                </li>
                <li>
                    <a href="https://ncadv.org/signs-of-abuse">
                    Signs of Abuse
                </a>
                </li>
            </div>
            <div class="">
                <li>
                    <a href="https://ncadv.org/why-do-victims-stay">
                    Why Do Victims Stay?
                </a>
                </li>
                <li>
                    <a href="https://ncadv.org/statistics">
                    Statistics
                </a>
                </li>
            </div>
        </div>
    </ul>

    <!-- <div class="copywrite">
    <p>@2022</p>
</div> -->
    <div class="banner"></div>

</footer>