<div class="container">
     <!-- I believe her text for small screens only-->
     <div class="navbar-text__small-screen">
        <p>
            I Believe
            <span class="her">
                Her
            </span>
        </p>
    </div>





    <!-- Header -->
   
        <!-- Navbar-->
        <nav class="navbar">
            <!-- logo -->
            <a href="{{ site.baseurl }}/index.html">
                
                <!-- in order for the image links to work on github
                you should add {{ site.baseurl }} before the image directory -->
                <img class="navbar-logo" src="{{ site.baseurl }}/assets/img/domestic-violence-awareness-month-in-october-celeb.webp" alt="domestic violence awareness icon" title="home">
            </a>


            <!-- I believe her text -->
            <div class="navbar-text">
                <p>
                    I Believe
                    <span class="her">
                        Her
                    </span>
                </p>
            </div>

            <!-- <div class="empty-space">
                <p>empty</p>
            </div> -->


            <!-- Menu -->
            <div class="hamburger-menu">
                <div class="hamburger closed">
                    <div class="line one"></div>
                    <div class="line two"></div>
                    <div class="line three"></div>
                </div>
            </div>
        </nav>


        <div class="menu">
            <ul>
                <li class="menu-home">
                    <a href="{{ site.baseurl }}/index.html">
                        <i class="fas fa-home"></i>
                    </a>
                </li>
                <div class="menu-links p">

                    <!-- Myth 1. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-1.html"><span class="spot"></span>Myth 1.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 2. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-2.html"><span class="spot"></span>Myth 2.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 3. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-3.html"><span class="spot"></span>Myth 3.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 4. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="{{ site.baseurl }}/assets/html/myth-4.html""><span class="spot"></span>Myth 4.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 5. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-5.html"><span class="spot"></span>Myth 5.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 6. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-6.html"><span class="spot"></span>Myth
                                    6.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 7. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-7.html"><span class="spot"></span>Myth 7.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 8. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-8.html"><span class="spot"></span>Myth 8.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 9. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-9.html"><span class="spot"></span>Myth 9.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 10. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-10.html"><span class="spot"></span>Myth 10.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 11. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-11.html"><span class="spot"></span>Myth 11.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 12. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-12.html"><span class="spot"></span>Myth 12.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 13. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-13.html"><span class="spot"></span>Myth 13.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 14. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-14.html"><span class="spot"></span>Myth 14.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 15. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-15.html"><span class="spot"></span>Myth 15.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 16. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-16.html"><span class="spot"></span>Myth 16.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 17. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-17.html"><span class="spot"></span>Myth 17.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 18. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-18.html"><span class="spot"></span>Myth 18.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 19. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-19.html"><span class="spot"></span>Myth 19.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 20. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-20.html"><span class="spot"></span>Myth 20.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 21. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-21.html"><span class="spot"></span>Myth 21.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 22. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-22.html"><span class="spot"></span>Myth 22.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 23. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-23.html"><span class="spot"></span>Myth 23.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 24. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-24.html"><span class="spot"></span>Myth 24.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 25. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-25.html"><span class="spot"></span>Myth 25.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 26. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-26.html"><span class="spot"></span>Myth 26.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 27. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-27.html"><span class="spot"></span>Myth 27.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 28. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-28.html"><span class="spot"></span>Myth 28.</a>
                            </div>
                        </svg>
                    </li>

                    <!-- Myth 29. -->
                    <li class="svg-wrapper">
                        <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                            <rect id="shape" height="40" width="150" />
                            <div id="text">
                                <a href="myth-29.html"><span class="spot"></span>Myth 29.</a>
                            </div>
                        </svg>
                    </li>

                </div>
            </ul>
        </div>


        
</div>
