---
---

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Faveicon -->
    <link rel="icon" type="image/x-icon" href="/assets/img/domestic-violence-awareness-month-in-october-celeb.webp">

    <!-- fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css" integrity="sha384-wESLQ85D6gbsF459vf1CiZ2+rr+CsxRY0RpiF1tLlQpDnAgg6rwdsUF1+Ics2bni" crossorigin="anonymous">


    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">


    <!-- Main Stylesheet -->
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css">

    <!-- Title -->
    <title>    {% if page.title %} {{page.title}} {% else %} {{site.title}} {% endif %}
    </title>
</head>

<body>


    <header>
        {% include myth-header.html %}
    </header>


    {{content}}



    <footer>
        {%- include footer.html -%}
    </footer>
    
    <script src="assets/javascript/script.js"></script>
</body>

</html>