/* *************** */

// Variables

/* *************** */

// $white: #e8e8e8;
$white: #efe;
$light-black: #23252f;
$dark-black: #161724;
$transparen: rgba(255, 255, 255, 0);
$red: #ef3b3c;
$dark-red: #c11b28;
// Purple
$purple-main: #642c8c;
$ncadv: #72568e;
// ************
// Analogous Scheme
$blueish-purple: #332b8c;
$purple-main: #642c8c;
$purple-main-light: #8c2b84;
// 
$green-1: #448587;
$green-2 :#2aba83;
$green-3: #009a65;
$green-4: #4dd5a8;
// ************
// Tints and Shades
$light-purple-1: #ccb6d8;
$light-purple-2: #9970b2;
$light-purple-3: #7f4e9f;
$dark-purple-1: #542673;
$dark-purple-2: #341b45;
// ************

/* Breakpoints */

$big-screen: 768px;
$small-screen: 767px;

/* **************** */